<ion-header>
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>{{vehicleDetails.vehicle_registration}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <div class="ion-padding">
      <ion-button color="success" (click)="gotoNote(vehicleDetails)"><ion-icon class="white" name="chevron-back-outline"></ion-icon>Back</ion-button>
      <ion-button color="danger" (click)="saveNotes()"><ion-icon name="save-outline"></ion-icon>&nbsp;Save&nbsp;</ion-button>
        
      <textarea class="para" cols="46" rows="10" [(ngModel)]="notes"></textarea>

      <ion-button color="dark" (click)="presentActionSheet()" expand="block" class="ion-text-capitalize"><ion-icon name="camera"></ion-icon>&nbsp;Take a picture</ion-button>
        <!-- <ion-button (click)="presentActionSheet()">Action</ion-button>
        <div class="file-div">
          <ion-button color="dark" expand="block" class="ion-text-capitalize"><ion-icon name="camera"></ion-icon>&nbsp;Take a picture</ion-button>
        <input type="file" class="upload-image" accept="image/*" (change)="showPreviewImage($event)">
        </div> -->
        <!-- <img *ngIf="ImageURl" [src]="ImageURl" alt="" class="image"> -->
        <img *ngIf="base64Image" [src]="base64Image" alt="" class="image">

       <div *ngFor="let item of GetNotesVehicle?.pictures" class="picss-delete">
          <div class="delete" (click)="deletePics(item)">
            <ion-icon name="trash"></ion-icon>
          </div>
        <img  src="{{api.picturesUrl}}{{item}}" alt="" class="image">
       </div>
        
        
     
    </div>
  </div>

</ion-content>
