<ion-header>
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>{{vehicleDetails.vehicle_registration}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col>
         <div class="ion-text-center">
          <ion-button color="success" routerLink="/tabs"><ion-icon class="white" name="arrow-back-outline"></ion-icon>&nbsp;Back</ion-button>
         </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <div class="file-div">
              <ion-button color="dark">&nbsp;<ion-icon name="camera-outline"></ion-icon>&nbsp;</ion-button>
              <input type="file" class="upload-image" accept="image/jpg,.jpg" (change)="showPreviewImage($event)">
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="danger" (click)="save()"><ion-icon name="save-outline"></ion-icon>&nbsp;Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
     <div class="ion-padding ion-text-center" >
      <h3>{{seletedDamage.damagedArea}}</h3>
      <textarea name="" id="" class="para" cols="45" rows="2" [(ngModel)]="notes"></textarea>
      <img *ngIf="ImageURl" src="{{ImageURl}}" alt="" class="image">
     </div>
   
 </div>
</ion-content>
