<ion-header>
  <ion-toolbar>
    <ion-title>Photo step 2</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col>
         <div class="ion-text-center">
          <ion-button color="success" routerLink="/tabs"><ion-icon class="white" name="arrow-back-outline"></ion-icon>&nbsp;Back</ion-button>
         </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="dark">&nbsp;<ion-icon name="camera-outline"></ion-icon>&nbsp;</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="danger"><ion-icon name="save-outline"></ion-icon>&nbsp;Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
     <div class="ion-padding ion-text-center" >
      <h3>Right front rim</h3>
      <textarea name="" id="" class="para" cols="45" rows="5">There is a scratch on right side of rim on the car</textarea>
      <img src="../../../assets/images/p3.jpg" alt="">
     </div>
   
 </div>
</ion-content>
