<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="tab1" color="primary">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Yesterday</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Tomorrow</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
