<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title slot="start">
     {{userData.trigram}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-item lines="none" class="border">
        <ion-searchbar placeholder="Search" mode="ios" class="custom-search" showCancelButton="never" showClearButton="never" (ionChange)="Search($event)"></ion-searchbar>
      </ion-item>
      <ion-grid class="ion-no-padding">
        <div *ngIf="getAllListings.length > 0">
          <ion-row style="background: #ffff;" class="ion-no-padding" *ngFor="let item of getAllListings">
            <ion-col size="3"  class="ion-no-padding">
              <div class="title ion-text-center">
                <p>{{item.vehicle_registration}}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-button *ngIf="item.driver_id_pick_up ==='0'" (click)="PickupBringbackActions(item,'pick_up','set')" color="warning" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
                  <ion-button [disabled]="item.driver_id_pick_up !== myDriverID" (click)="PickupBringbackActions(item,'pick_up','unset')" *ngIf="item.driver_id_pick_up !='0'" color="light"  class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-back-outline"></ion-icon>{{item.driver_trigram_pick_up}}</ion-button>
                  <ion-button *ngIf="item?.driver_id_bring_back === '0' " color="success" (click)="PickupBringbackActions(item,'bring_back','set')" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>        
                  <ion-button (click)="PickupBringbackActions(item,'bring_back','unset')" [disabled]="item.driver_id_bring_back !== myDriverID"  *ngIf="item.driver_id_bring_back !='0'" color="light"  class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon>{{item.driver_trigram_bring_back}}</ion-button>
                </ion-item>
            </ion-col>
            <ion-col size="5"  class="ion-no-padding">
            <ion-item lines="none" class="ion-no-padding" *ngIf="item.driver_id_pick_up !='0' || item.driver_id_bring_back !='0'">
              <ion-button  color="secondary" (click)="ckeckUp(item)" size="small" class="margin hhh shadow-none"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
              <ion-button [disabled]="!item.can_set_note" color="tertiary" (click)="gotoNote(item)" size="small" class="hhh shadow-none"><ion-icon name="create-outline"></ion-icon></ion-button>
              <ion-button  color="dark" (click)="gotophotoStep1(item)" size="small" class="hhh shadow-none"><ion-icon name="camera"></ion-icon></ion-button>
            </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="noListing ion-text-center" *ngIf="emptySearch">
        <div class="no-found ion-text-center">
          No vehicle
        </div>
      </div>
      <ion-list *ngIf="getAllListings.length === 0" [hidden]="emptySearch === true">
        <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" >
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>

