<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-list class="ion-padding">
      <ion-item lines="none">
        Mobile Number
      </ion-item>
      <ion-item lines="none">
        <br>
        <ion-input class="inputss ion-padding-start" formControlName="phone" placeholder="Mobile number" type="tel"></ion-input>
        <br>
      </ion-item>
      <br>
      <ion-button expand="block" color="dark" (click)="login()" [disabled]="!loginForm.valid">Login</ion-button>
    </ion-list>
  </form>
</ion-content>
