ion-content{
    --background: var(--ion-custom-white);
}
.custom-search{
    --background:#fff;
}
.white{
    color: #fff;
}
ion-list{
    background: transparent;
}
ion-item{
    border-bottom: 2px solid #eeeeee;
    --background: transparent;
}
.inputss{
    border: 1px solid var(--ion-custom-success);
    border-radius: 5px;
    margin: 30px auto;
    padding-left: 10px !important;
}
ion-button{
    text-transform: capitalize;
}