<ion-header>
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>Pendings</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <div class="ion-padding">
      <ion-button color="danger"><ion-icon name="save-outline" (click)="syncData()"></ion-icon>&nbsp;Force Sync&nbsp;</ion-button>
      <br>
      <br>
      <div class="ion-text-center">
        <div class="damage" *ngIf="DamageData?.length > 0">
          <img *ngFor="let item of DamageData" src="{{item.base64Image}}" alt="" class="image">
        </div>
        <!-- <div class="notes">
          <img src="../../../assets/images/p2.jpg" alt="" class="image">
        </div> -->
        <div class="noListing ion-text-center" *ngIf="DamageData?.length === 0">
          <div class="no-found ion-text-center">
            No data to sync
          </div>
        </div>
      </div>
    
    </div>
  </div>
</ion-content>
