ion-content{
    --background: var(--ion-custom-white);
}
.custom-search{
    --background:#fff;
}
.white{
    color: #fff;
}
ion-item{
    border-bottom: 2px solid #eeeeee;
}
p{
    font-size: 15px;
}