ion-content{
    --background: var(--ion-custom-white);
}
.custom-search{
    --background: #fff;
    height: 30px;
}
.white{
    color: #fff;
}
ion-item{
    border-bottom: 2px solid #eeeeee;
}

.title{
    width: 57px;
}
.title p{
    font-size: 15px;
    font-weight: 600;
}
.margin{
    margin-left: 15px;
}
