<ion-header>
  <ion-toolbar>
    <ion-title>Note</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <div class="ion-padding">
      <ion-button color="success" routerLink="/tabs"><ion-icon class="white" name="chevron-back-outline"></ion-icon>Back</ion-button>
      <ion-button color="dark" routerLink="/note-save"><ion-icon name="pencil-outline"></ion-icon>&nbsp;Edit&nbsp;</ion-button>
      <div class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aliquid omnis nemo tenetur illo
      </div>
        <img src="../../../assets/images/madison.jpg" alt="">
        <img src="../../../assets/images/madison.jpg" alt="">
        <img src="../../../assets/images/ionic-application-banner.jpg" alt="">
    </div>
  </div>
</ion-content>
