<ion-header>
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>{{vehicleDetails.vehicle_registration}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
      <div class="ion-padding">
        <ion-button color="success" routerLink="/tabs"><ion-icon class="white" name="chevron-back-outline"></ion-icon>Back</ion-button>
        <ion-button color="dark" (click)="editNote()"><ion-icon name="pencil-outline"></ion-icon>&nbsp;Edit&nbsp;</ion-button>
        <div class="para" [innerHTML]="GetNotesVehicle?.note">
     
        </div>
          <img src="../../../assets/images/madison.jpg" alt="" class="image">
          <img src="../../../assets/images/madison.jpg" alt="" class="image">
          <img src="../../../assets/images/ionic-application-banner.jpg" alt="" class="image">
      </div>
    </div>
</ion-content>
