<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>
      {{userData.trigram}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item lines="none" class="border">
        <ion-searchbar (ionChange)="Search($event)" placeholder="Search" mode="ios" class="custom-search" showCancelButton="never" showClearButton="never"></ion-searchbar>
      </ion-item>
      <ion-grid class="ion-no-padding">
        <!-- <ion-row style="background: #ffff; --background: #ffff;" class="ion-no-padding">
          <ion-col size="3"  class="ion-no-padding">
            <div class="title ion-text-center">
              <p>AZ5085</p>
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
              <ion-item lines="none" class="ion-no-padding">
                <ion-button  color="warning" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
                  <ion-button color="success" routerLink="/checkup" class="shadow-none custom-style-btn ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>        
              </ion-item>
          </ion-col>
          <ion-col size="5"  class="ion-no-padding">
          </ion-col>
        </ion-row>
        <ion-row style="background: #ffff;" class="ion-no-padding">
          <ion-col size="3"  class="ion-no-padding">
            <div class="title ion-text-center">
              <p>LT4047</p>
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
              <ion-item lines="none" class="ion-no-padding">
                <ion-button  color="light" class="custom-style-btn ion-no-padding shadow-none"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
                  <ion-button color="success" routerLink="/checkup" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>        
              </ion-item>
          </ion-col>
          <ion-col size="5"  class="ion-no-padding">
          <ion-item lines="none" class="ion-no-padding">
            <ion-button  color="secondary" routerLink="/checkup" size="small" class="margin hhh"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
            <ion-button  color="tertiary" routerLink="/note" size="small" class="hhh"><ion-icon name="create-outline"></ion-icon></ion-button>
            <ion-button  color="dark" routerLink="/photo-step1" size="small" class="hhh"><ion-icon name="camera"></ion-icon></ion-button>
          </ion-item>
          </ion-col>
        </ion-row> -->
        <div *ngIf="yesterdayListings.length > 0">
          <ion-row style="background: #ffff;" class="ion-no-padding" *ngFor="let item of yesterdayListings">
            <ion-col size="3"  class="ion-no-padding">
              <div class="title ion-text-center">
                <p>{{item.vehicle_registration}}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-button *ngIf="item.driver_id_pick_up ==='0'" (click)="pickup(item)" color="warning" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
                  <ion-button [disabled]="item.driver_id_pick_up !== myDriverID" (click)="UnsetIfWrongPickup(item)" *ngIf="item.driver_id_pick_up !='0'" color="light"  class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-back-outline"></ion-icon>{{item.driver_trigram_pick_up}}</ion-button>
                  <ion-button *ngIf="item?.driver_id_bring_back === '0' " color="success" (click)="bringBack(item)" class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>        
                  <ion-button (click)="wrongBringBack(item)" [disabled]="item.driver_id_bring_back !== myDriverID"  *ngIf="item.driver_id_bring_back !='0'" color="light"  class="custom-style-btn shadow-none ion-no-padding"><ion-icon name="chevron-forward-outline"></ion-icon>{{item.driver_trigram_bring_back}}</ion-button>
                </ion-item>
            </ion-col>
            <ion-col size="5"  class="ion-no-padding">
            <ion-item lines="none" class="ion-no-padding" *ngIf="item.driver_id_pick_up !='0' || item.driver_id_bring_back !='0'">
              <ion-button  color="secondary" (click)="ckeckUp(item)" size="small" class="margin hhh shadow-none"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
              <ion-button [disabled]="!item.can_set_note" color="tertiary" (click)="gotoNote(item)" size="small" class="hhh shadow-none"><ion-icon name="create-outline"></ion-icon></ion-button>
              <ion-button  color="dark" (click)="gotophotoStep1(item)" size="small" class="hhh shadow-none"><ion-icon name="camera"></ion-icon></ion-button>
            </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="noListing ion-text-center" *ngIf="emptySearch">
        <div class="no-found ion-text-center">
          No vehicle
        </div>
      </div>
      <ion-list *ngIf="yesterdayListings.length === 0" [hidden]="emptySearch === true">
        <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" >
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>

