<ion-header>
  <ion-toolbar>
    <ion-title>Photo step 1</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col>
         <div class="ion-text-center">
          <ion-button color="success" routerLink="/tabs"><ion-icon class="white" name="arrow-back-outline"></ion-icon>&nbsp;Back</ion-button>
         </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="dark" routerLink="/photo-step2">Next&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
     <div class="ion-padding">
      <img src="../../../assets/images/p3.jpg" alt="">
      <img src="../../../assets/images/p4.jpg" alt="">
      <img src="../../../assets/images/p3.jpg" alt="">
     </div>
   
 </div>
</ion-content>
