<ion-header>
  <ion-toolbar>
    <img src="../../../assets/icon/favicon.png" alt="" slot="start" class="logo">
    <ion-title>{{vehicleDetails.vehicle_registration}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col>
         <div class="ion-text-center">
          <ion-button color="success" (click)="util.goBack()"><ion-icon class="white" name="arrow-back-outline"></ion-icon>&nbsp;Back</ion-button>
         </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="dark" (click)="photoStep2()">Next&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
     
      <app-damaged-car (getdataFromDamagedcar)="damagedCar($event)"></app-damaged-car>
    
   
 </div>
</ion-content>
